.header{
    
    height: 80px;
    background-color:rgba(19, 94, 19, 0.773);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    color: white;
}
.header a {
    color:#ffff;
    text-decoration: none;
    margin-left:36px ;
    
}
.header a:hover{
    color: orange;
}